---
import { getCollection } from 'astro:content';
import BaseLayout from '../../layouts/BaseLayout.astro';
import PostCard from '../../components/PostCard.astro';
import { COLLECTIONS, BASE_URL } from '../../config';

export async function getStaticPaths() {
  return COLLECTIONS.map((col) => ({
    params: { collection: col.id },
    props: { col },
  }));
}

const { col } = Astro.props;
const posts = (await getCollection(col.id)).sort(
  (a, b) => b.data.date.getTime() - a.data.date.getTime()
);
---

<BaseLayout title={`${col.label} - Dialogues`}>
  <section>
    <h2>{col.label}</h2>

    <div class="posts-list">
      {posts.map((post) => (
        <PostCard post={post} collectionId={col.id} />
      ))}
    </div>
  </section>
</BaseLayout>
